{% extends 'base.html.twig' %}

{% block title %}Symfony blog{% endblock %}

{% block body %}
    {% if blogposts %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Blog Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody> 
                {% for blog in blogposts %}
                    <tr>
                        <td>{{ blog.title }}</td>
                        <td>
                            <a href="/blog/{{blog.id}}" class="btn btn-dark">Show</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>    
        </table>
    {% else %}
        <p>No blogposts to display</p>
    {% endif %}
{% endblock %}