{% extends 'base.html.twig' %}

{% block title %}Symfony blog{% endblock %}

{% block body %}
    {% if blogposts %}
        <table id="blogposts" class="table table-striped">
            <thead>
            <tr>
                <th>Blog Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody> 
                {% for blog in blogposts %}
                    <tr>
                        <td><a href="/blog/{{ blog.id }}">{{ blog.title }}</a></td>
                        <td>
                            <a href="/blog/delete/{{ blog.id }}" class="btn btn-danger" data-id="{{ blog.id }}">X</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>    
        </table>
    {% else %}
        <p>No blogposts to display</p>
    {% endif %}
{% endblock %}

 {% block javascripts %}

 {% endblock %}